<h1><%= @post.title %></h1>

<p>
    <%= @post.content if @post.content %>
</p>

<p>
    <%= @post.url if @post.url %>
</p>

<% if current_user.id == @post.author_id %>
    <a href="<%= edit_post_url %>">Edit Post</a>
<% end %>
